@charset "UTF-8";
/*@mixin mobile {
    @media (min-width: 414px) {
        @content;
    }
}*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  position: relative;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5rem;
  margin-bottom: 3em;
  margin-top: 2rem;
  max-width: 100vw;
  padding: 10px;
}

@media (max-width: 40em) {
  header .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: inline-block;
    margin: 0 0 0 0;
  }
}

header .header-container .logo {
  height: 10rem;
  -webkit-filter: invert(100%) sepia(0%) saturate(23%) hue-rotate(19deg) brightness(107%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(23%) hue-rotate(19deg) brightness(107%) contrast(105%);
}

@media (max-width: 40em) {
  header .header-container .logo {
    height: 6rem;
    margin: -6px 0 0 40px;
  }
}

@media (max-width: 40em) {
  header .header-container .dropdown {
    position: relative;
    top: -110px;
    left: 260px;
  }
}

header .header-container .dropbtn {
  background-color: #f39c12;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

@media (max-width: 40em) {
  header .header-container .dropbtn {
    width: 25px;
    margin-left: 20px;
    height: 4rem;
    background: rgba(0, 0, 0, 0);
  }
}

@media (min-width: 40em) {
  header .header-container .dropbtn {
    display: none;
  }
}

header .header-container .dropbtn #burger {
  height: 30px;
  margin-top: 20px;
}

header .header-container .dropdown {
  position: relative;
  display: inline-block;
}

header .header-container .dropdown-content {
  display: none;
  position: absolute;
  left: -200px;
  background-color: #f9f9f9;
  width: 300px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .header-container .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .header-container .dropdown-content a:hover,
header .header-container .dropdown-content a:focus-within {
  background-color: #f1f1f1;
}

@media (max-width: 40em) and (hover: none) {
  header .header-container .dropdown-content a:hover a:hover,
  header .header-container .dropdown-content a:focus-within a:hover {
    color: inherit;
  }
}

header .header-container .dropdown:hover .dropdown-content,
header .header-container .dropdown:focus-within .dropdown-content {
  display: block;
}

header .header-container .dropdown:hover .dropbtn,
header .header-container .dropdown:focus-within .dropbtn {
  background-color: rgba(0, 0, 0, 0);
}

header .header-container .search-box-desktop {
  background: #ffffff;
  padding: 1em;
  border-radius: 20px;
  margin-right: 4rem;
  width: 17rem;
  height: 50px;
  position: relative;
  left: 10%;
}

@media (max-width: 40em) {
  header .header-container .search-box-desktop {
    display: none;
  }
}

header .header-container .search-box-desktop .search-button {
  background: #665b4c 206, 134, 134;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

header .header-container .search-box-desktop .search-txt {
  border: none;
  background: none;
  color: #212329;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 1rem;
  width: 12rem;
}

header .header-container .search-box-navbar {
  background: #ffffff;
  padding: 1em;
  border-radius: 20px;
  margin-right: 4rem;
  width: 17rem;
  height: 3rem;
  position: relative;
  left: 0;
}

header .header-container .search-box-navbar .search-button {
  background: #665b4c 206, 134, 134;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

header .header-container .search-box-navbar .search-txt {
  border: none;
  background: none;
  color: #212329;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 1rem;
  width: 12rem;
}

header .header-container .apply button {
  width: 13rem;
  height: 3.5rem;
  color: #212329;
  background-color: #f39c12;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.3rem;
}

header .header-container .apply button:hover {
  background-color: #e67e22;
  cursor: pointer;
}

@media (max-width: 40em) {
  header .header-container .apply button {
    margin: 3rem 0 8rem 3rem;
    position: relative;
    top: 10rem;
  }
}

header .hero-img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("/assets/background.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/assets/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  height: 70vh;
}

@media (max-width: 40em) {
  header .hero-img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 60vh;
  }
}

.header-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30vh;
}

.header-main .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5rem;
}

.header-main .header-container .logo {
  height: 8rem;
  position: relative;
  left: -40px;
  -webkit-filter: invert(100%) sepia(0%) saturate(23%) hue-rotate(19deg) brightness(107%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(23%) hue-rotate(19deg) brightness(107%) contrast(105%);
}

.header-main .header-container .search-box {
  background: #cecaca;
  padding: 10px;
  border-radius: 5px;
}

.header-main .header-container .search-box .search-button {
  /*background: #665b4c(206, 134, 134);*/
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header-main .header-container .search-box .search-txt {
  border: none;
  background: none;
  color: #212329;
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 30px;
  width: 300px;
}

.header-main .header-container .apply button {
  width: 10rem;
  height: 3rem;
  color: #212329;
  background-color: #f39c12;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
}

.news-link {
  text-decoration: none;
  color: #f39c12;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 40em) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 40em) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main nav .nav-list-main {
  padding: 0 4rem 0 4rem;
  margin-bottom: 4rem;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

main nav .nav-list-main li {
  margin-bottom: 10px;
  width: 14rem;
}

main nav .nav-list-main a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

main nav .nav-list-main a:hover {
  border-bottom: 3px solid #f39c12;
}

main nav .nav-list-main .active {
  border-bottom: 3px solid #f39c12;
}

main .about-container {
  width: 100%;
  background-color: #e7a03c;
  color: #ffffff;
}

main .about-container .section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

main .about-container .section-about .about-text .main-btn {
  height: 50px;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  outline: 4px;
  font-size: 1rem;
  margin: 2rem 0 0 0;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
}

main .about-container .section-about .about-text .main-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
}

main .about-container .section-about .about-logo-container {
  width: 35%;
}

main .about-container .section-about .about-logo-container .about-logo {
  height: 350px;
  -webkit-filter: invert(100%) sepia(0%) saturate(23%) hue-rotate(19deg) brightness(107%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(23%) hue-rotate(19deg) brightness(107%) contrast(105%);
}

main .section-calendar .calendar-text {
  width: 40%;
}

main .section-calendar aside {
  color: #ffffff;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section-calendar aside .main-btn {
  height: 50px;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  outline: 4px;
  font-size: 1rem;
  margin: 2rem 0 0 20%;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
}

main .section-calendar aside .main-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.footer-container {
  background-color: #212329;
  padding: 4rem 0 4rem 0;
  width: 100%;
}

@media (max-width: 40em) {
  .footer-container {
    padding: 2rem 0 6rem 0;
    height: 80vh;
  }
}

.footer {
  width: 90%;
  height: 50vh;
  background-color: #212329;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.logo {
  height: 8rem;
  position: relative;
  left: -40px;
  -webkit-filter: invert(100%) sepia(0%) saturate(23%) hue-rotate(19deg) brightness(107%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(23%) hue-rotate(19deg) brightness(107%) contrast(105%);
}

@media (max-width: 40em) {
  .logo {
    height: 6rem;
    margin-left: 2rem;
    margin-top: -1rem;
  }
}

.footer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 4rem;
}

@media (max-width: 40em) {
  .footer-heading {
    margin-top: 1rem;
  }
}

.footer-heading h2 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #838383;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

@media (max-width: 40em) {
  .footer-heading a {
    margin-bottom: 0.5rem;
  }
}

.footer-heading a:hover {
  color: #ffffff;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 20rem;
  height: 3rem;
  border-radius: 4px;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email::-webkit-input-placeholder {
  color: #838383;
}

#footer-email:-ms-input-placeholder {
  color: #838383;
}

#footer-email::-ms-input-placeholder {
  color: #838383;
}

#footer-email::placeholder {
  color: #838383;
}

#footer-email-btn {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #838383;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

* {
  font-family: "Lato", sans-serif;
}

.breadcrumbs {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Måste ha ett referensvärde att utgå ifrån i font-weight*/
}

.breadcrumbs .breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs .breadcrumbs-item:not(:last-of-type)::after {
  content: ">";
  margin: 0 5px;
  color: #838383;
}

.breadcrumbs .breadcrumbs-link {
  text-decoration: none;
  color: #838383;
}

.breadcrumbs .breadcrumbs-link:hover {
  border-bottom: 1px solid #f39c12;
}

.breadcrumbs .breadcrumbs-link-active {
  color: #f39c12;
  font-weight: 500;
}

.breadcrumbs .breadcrumbs-link-active:hover {
  border-bottom: 0px;
}

.form-container {
  max-width: 700px;
  width: 100%;
  background: white;
  padding: 25px 30px;
  border-radius: 5px;
}

.form-container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.form-container form .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap;
    justify-content: space-between;*/
}

form .user-details .input-box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0 12px 0;
  margin-bottom: 15px;
}

.user-details .input-box input {
  height: 30px;
  width: 100%;
  outline: none;
  border: 1px solid gray;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.user-details .input-box .details {
  display: block;
  font-weight: 450;
  margin-top: 7px;
  margin-bottom: 2px;
}

.user-details .input-box input:focus {
  border-color: #f39c12;
}

form .button {
  height: 45px;
  margin: 45px 0;
  outline: none;
  border-radius: 5px;
  background: #f39c12;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

form .attach input {
  border: none;
}

p {
  margin: 1em;
  margin-left: 0;
}

.ingress {
  font-weight: bold;
}

.ul-mission {
  margin-left: 2em;
}

.main-btn {
  height: 8rem;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 20px;
  outline: 4px;
  font-size: 1rem;
  margin: 0 0 0 0;
  padding: 1.5rem 1rem 1rem 1rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
}

.main-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
}

html {
  width: 100%;
}

body {
  height: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */