$base-light: #ffffff;
$accent-color: #f39c12;
$accent-color-darker: #e67e22;
$base-dark: #212329;
$base-black: rgba(0, 0, 0, 0.8);
$background-footer: #212329;
$base-darker: rgb(131, 131, 131);
$dark-white: rgb(206, 202, 202);
// Exempel: color: $base-color;
