// HEADER
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("../assets/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 4rem 0 4rem;

    .logo {
      height: 10rem;
      position: relative;
      left: -40px;
      filter: invert(100%) sepia(0%) saturate(23%) hue-rotate(19deg)
        brightness(107%) contrast(105%);
    }

    .apply {
      button {
        width: 10rem;
        height: 4rem;
        color: black;
        background-color: #f39c12;
        border: none;
        border-radius: 4px;
        outline: none;
        font-size: 1rem;
      }
    }
  }

  nav {
    aside {
      color: white;
      width: 20%;
      background: rgba(0, 0, 0, 0.7);
    }

    .nav-list {
      padding: 0 4rem 0 4rem;
      margin-bottom: 4rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      text-transform: uppercase;
      color: white;

      a {
        list-style-type: none;
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        border-bottom: 3px solid #f39c12;
      }

      .active {
        border-bottom: 3px solid #f39c12;
      }
    }
  }

  aside {
    color: white;
    width: 20%;
    background: rgba(0, 0, 0, 0.7);
    padding: 12px;
    position: relative;
    left: 75%;
    line-height: 1.8rem;
    a {
      color: #f39c12;
    }
  }
}
