// HEADER
.logo {
    height: 20rem;
}

.apply {
    button {
    width: 10rem;
    height: 4rem;
    color: #fff;
    background-color: #212329;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    }
}