
@import './colors';

main {
  display: flex;
  flex-direction: row;

  nav {
    .nav-list-main {
      padding: 0 4rem 0 4rem;
      margin-bottom: 4rem;
      margin-top: 8px;
      display: flex;
      flex-direction: column; //navigation column or row
      justify-content: space-between;
      list-style-type: none;
      text-transform: uppercase;
      color: $base-black;

      li {
        margin-bottom: 10px;
        width: 14rem;
      }

      a {
        list-style-type: none;
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        border-bottom: 3px solid $accent-color;
      }

      .active {
        border-bottom: 3px solid $accent-color;
      }
    }
  }
    /*article {
      color: $base-black;
      margin-left: 6rem;


      .cards {
        display: flex;
        align-items: center;
        justify-content: center;

        .article-card {
          background-color: $base-darker;
          width: 30rem;
          height: 12rem;
          margin: 2rem;
          padding: 12px;
        }
      }
    }*/
  

  .breadcrumbs {
    padding-bottom: 10px;
    display: flex;

    .breadcrumbs-item {
      display: inline-block;
    }

    .breadcrumbs-item:not(:last-of-type)::after {
      content: '>';
      margin: 0 5px;
      color: $base-darker;
    }

    .breadcrumbs-link {
      text-decoration: none;
      color: $base-darker;
    }

    .breadcrumbs-link:hover {
      border-bottom: 1px solid $accent-color;
    }

/*Måste ha ett referensvärde att utgå ifrån i font-weight*/    
    .breadcrumbs-link-active {
      color: $accent-color;
      font-weight: 500;
    }

    .breadcrumbs-link-active:hover {
      border-bottom: 0px;
    }
  }

  p {
    margin: 1em;
    margin-left: 0;
  }

  .ingress{
    font-weight: bold;
  }

  .ul-mission{
    margin-left: 2em;
  }
}

