@import "./colors";

main {
  display: flex;
  flex-direction: row;

  nav {
    .nav-list-main {
      padding: 0 4rem 0 4rem;
      margin-bottom: 4rem;
      margin-top: 8px;
      display: flex;
      flex-direction: column; //navigation column or row
      justify-content: space-between;
      list-style-type: none;
      text-transform: uppercase;
      color: $base-black;

      li {
        margin-bottom: 10px;
        width: 14rem;
      }

      a {
        list-style-type: none;
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        border-bottom: 3px solid $accent-color;
      }

      .active {
        border-bottom: 3px solid $accent-color;
      }
    }
  }
  /*article {
      color: $base-black;
      margin-left: 6rem;


      .cards {
        display: flex;
        align-items: center;
        justify-content: center;

        .article-card {
          background-color: $base-darker;
          width: 30rem;
          height: 12rem;
          margin: 2rem;
          padding: 12px;
        }
      }
    }*/

  .breadcrumbs {
    padding-bottom: 10px;
    display: flex;

    .breadcrumbs-item {
      display: inline-block;
    }

    .breadcrumbs-item:not(:last-of-type)::after {
      content: ">";
      margin: 0 5px;
      color: $base-darker;
    }

    .breadcrumbs-link {
      text-decoration: none;
      color: $base-darker;
    }

    .breadcrumbs-link:hover {
      border-bottom: 1px solid $accent-color;
    }

    /*Måste ha ett referensvärde att utgå ifrån i font-weight*/
    .breadcrumbs-link-active {
      color: $accent-color;
      font-weight: 500;
    }

    .breadcrumbs-link-active:hover {
      border-bottom: 0px;
    }
  }
  .form-container {
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
  }

  .form-container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

  .form-container form .user-details {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-between;*/
  }
  form .user-details .input-box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0 12px 0;
    margin-bottom: 15px;
  }

  .user-details .input-box input {
    height: 30px;
    width: 100%;
    outline: none;
    border: 1px solid gray;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.5s ease;
    border-radius: 5px;
  }
  .user-details .input-box .details {
    display: block;
    font-weight: 450;
    margin-top: 7px;
    margin-bottom: 2px;
  }

  .user-details .input-box input:focus {
    border-color: $accent-color;
  }

  form .button {
    height: 45px;
    margin: 45px 0;
    outline: none;
    border-radius: 5px;
    background: $accent-color;
    color: $base-black;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  form .attach input {
    border: none;
  }

  p {
    margin: 1em;
    margin-left: 0;
  }

  .ingress {
    font-weight: bold;
  }

  .ul-mission {
    margin-left: 2em;
  }

  .links li {
    list-style-type: none;
    a {
      color: $accent-color;
      text-decoration: none;
    }
  }
}
