@import './colors';

main {
  display: flex;
  flex-direction: row;

  nav {
    .nav-list-main {
      padding: 0 4rem 0 4rem;
      margin-bottom: 4rem;
      margin-top: 8px;
      display: flex;
      flex-direction: column; //navigation column or row
      justify-content: space-between;
      list-style-type: none;
      text-transform: uppercase;
      color: $base-black;

      li {
        margin-bottom: 10px;
        width: 14rem;
      }

      a {
        list-style-type: none;
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        border-bottom: 3px solid $accent-color;
      }

      .active {
        border-bottom: 3px solid $accent-color;
      }
    }

    article {
      color: $base-black;
      margin-left: 6rem;

      .cards {
        display: flex;
        align-items: center;
        justify-content: center;

        .article-card {
          background-color: $base-darker;
          width: 30rem;
          height: 12rem;
          margin: 2rem;
          padding: 12px;
        }
      }
    }
  }
}
